<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Algoritmos de ordenamiento</a>
  <div class="formulario-config">
    <div class="form-group">
      <label class="btn-dark" for="">Cantidad</label>
      <input [(ngModel)]="cantidadForm" type="number" class="form-control" id="cantidad" min='1' max="200"
        aria-describedby="emailHelp" placeholder="Cantidad">
    </div>
    <div class="form-group">
      <label class="btn-dark" for="">Mínimo</label>
      <input [(ngModel)]="minimoForm" type="number" class="form-control" id="cantidad" min='1'
        aria-describedby="emailHelp" placeholder="Mínimo">
    </div>
    <div class="form-group">
      <label class="btn-dark" for="">Máximo</label>
      <input [(ngModel)]="maximoForm" type="number" class="form-control" id="cantidad" min='1'
        aria-describedby="emailHelp" placeholder="Máximo">
    </div>

    <button (click)="actualizarNumeros()" type="button" class="btn btn-primary-glow">Actualizar</button>


  </div>
</nav>

<div class="container">
  <app-ordenamientos [cantidad]="cantidad" [min]="minimo" [max]="maximo"></app-ordenamientos>
</div>